<div class="card">
  <a class="main" [href]="product.link" target="_blank">
    <img [src]="selectedImage" [alt]="product.name" />
  </a>

  <div class="thumbs">
    <button class="thumb" *ngFor="let img of product.images" (click)="setImage(img)">
      <img [src]="img" alt="thumb" />
    </button>
  </div>

  <h3 class="title">{{ product.name }}</h3>
  <p class="desc">{{ product.description }}</p>

  <div class="row">
    <div class="price">
      {{ product.price === 0 ? 'Price: (set manually)' : (product.price + ' ₸') }}
    </div>

    <div class="rating">
      <span *ngFor="let s of stars()">{{ product.rating >= s ? '★' : '☆' }}</span>
      <span class="num">{{ product.rating }}</span>
    </div>
  </div>

  <div class="actions">
    <button (click)="shareWhatsApp()">Share WhatsApp</button>
    <button (click)="shareTelegram()">Share Telegram</button>
    <a class="open" [href]="product.link" target="_blank">Open in Kaspi</a>
  </div>
</div>

